<div class="row">
	<div class="col-md-8 col-sm-12" style="border-right:1px solid #b8d0d6;">
		 <div class="pageHeader">
				<form id="pagerForm" onsubmit="return navTabSearch(this);" action="/dept/view.htm" method="post">
				<input type="hidden" name="pageNum" value=1 />
				<input type="hidden" name="numPerPage" value=${SearchCondition.numPerPage!20} />
				<input type="hidden" name="orderField" value="" />
				<input type="hidden" name="orderDirection" value="" />
				<div class="searchBar">
					<table class="searchContent">
						<tr>
							<td>
								用户姓名：<input type="text" name="rolename" value="${SearchCondition.rolename!}"/>
							</td>
							<td>
								<div class="buttonActive"><div class="buttonContent"><button id="btnQuery" type="submit" style="width:60px;"> 检 索 </button></div></div>
							</td>
						</tr>
					</table>
				</div>
				</form>
			</div>
			<div class="panelBar">
				<ul class="toolBar">
					<li><a class="add" href="/dept/edit.htm" target="dialog" rel="adddept" mask="true" title="添加新部门"  width="412" height="320"><span>添加</span></a></li>
					<li><a class="delete" href="/dept/delete/{sid_dept}" target="ajaxTodo" title="确定要删除吗?" callback="deleteUser"><span>删除</span></a></li>
					<li><a class="edit" href="/dept/edit.htm?id={sid_dept}" rel="editdept" target="dialog" mask="true" title="编辑部门"  width="412" height="320"><span>修改</span></a></li>
					<li class="line">line</li>
					<li><a class="abandonuser" href="/user/disable/{sid_dept}" target="ajaxTodo" callback="dialogAjaxDone"  title="确定要停用当前部门吗?"><span>停用</span></a></li>
					<li><a class="enableuser" href="/user/enable/{sid_dept}" target="ajaxTodo" callback="dialogAjaxDone"  title="确定要重新启用当前部门吗?"><span>启用</span></a></li>
					<li class="line">line</li>
					<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
				</ul>
			</div>
			<table class="table" width="100%" layoutH="115">
				<thead>
					<tr>
						<th width="20">序号</th>
						<th width="80">部门编码</th>
						<th width="120">部门名称</th>
						<th width="80" align="center">状态</th>
						<th width="80" align="center">排序</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="panelBar">
				<div class="pages">
					<span>显示</span>
					<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
					</select>
					<span>条，共${totRow!}条</span>
				</div>
		
				<div class="pagination" targetType="navTab" totalCount="${totRow!}" numPerPage="${SearchCondition.numPerPage!}" pageNumShown="${totPage!}" currentPage="${SearchCondition.pageNum!}"></div>
		
			</div>
	</div>
	<div class="col-md-4 col-sm-12" style="padding-left:10px;">
		<div class="panel" defH="518">
				<div>
					拖动浏览器窗口大小,测试页面布局
				</div>
		</div>
	</div>
</div>