<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jack.executive.modules.system.dao.SysDictMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.jack.executive.modules.system.model.SysDict">
		<id column="id" property="id" />
		<result column="dictcde" property="dictcde" />
		<result column="dictval" property="dictval" />
		<result column="dfltval" property="dfltval" />
		<result column="dicttype" property="dicttype" />
		<result column="status" property="status" />
		<result column="dictorder" property="dictorder" />
	</resultMap>

</mapper>
