<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jack.executive.modules.system.dao.SysRoleRightMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.jack.executive.modules.system.model.SysRoleRight">
		<id column="id" property="id" />
		<result column="roleid" property="roleid" />
		<result column="menuid" property="menuid" />
		<result column="funcid" property="funcid" />
	</resultMap>

</mapper>
