
<div class="pageContent">
	
	<form method="post" action="/param/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>参数代码：</label>
				<input type="text" name="parmcde" size="30" class="required"/>
			</div>
			<div class="unit">
				<label>参数值：</label>
				<input type="text" name="parmval" size="30"/>
			</div>
			<div class="unit">
				<label>参数说明：</label>
				<input type="text" name="note" size="30" />
			</div>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

