<script>
	function deleteUser(data){
		if(data.code==0){
			alertMsg.correct('恭喜您，删除成功！');
			$('#form1').submit();
		}else if(data.code==1){
			alertMsg.warn('删除成功！'+data.message);
		}else{
			alertMsg.info('删除失败!');
		}
	}
	function sid_user_Clik(){
		
	}
</script>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" action="/user/view.htm" method="post">
	<input type="hidden" name="pageNum" value=1 />
	<input type="hidden" name="numPerPage" value=${SearchCondition.numPerPage!20} />
	<input type="hidden" name="orderField" value="" />
	<input type="hidden" name="orderDirection" value="" />
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					用户姓名：<input type="text" name="username" value="${SearchCondition.username!}"/>
				</td>
				<td>
				   <label>用户状态：</label>
					<select class="combox" name="status">
						<option value="">所有</option>
						<option value="0"
						  <%if(SearchCondition.status=="0"){%>
								selected=selected
						  <%}%>
						>有效</option>
						<option value="1"
						   <%if(SearchCondition.status=="1"){%>
								selected=selected
						  <%}%>
						>无效</option>
					</select>
				</td>
				<td>
					<div class="buttonActive"><div class="buttonContent"><button id="btnQuery" type="submit" style="width:60px;"> 检 索 </button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/user/edit.htm" target="dialog" mask="true" title="添加新用户" rel="usereadd"  width="800" height="430"><span>添加</span></a></li>
			<li><a class="delete" href="/user/delete/{sid_user}" target="ajaxTodo" title="确定要删除吗?" callback="deleteUser"><span>删除</span></a></li>
			<li><a class="edit" href="/user/edit.htm?id={sid_user}" target="dialog" mask="true" rel="useredit" title="编辑用户"  width="800" height="430"><span>修改</span></a></li>
			<li class="line">line</li>
			<li><a class="resetpwd" href="/user/resetpwd/{sid_user}" target="ajaxTodo" callback="dialogAjaxDone"  title="确定重置当前用户的密码为1吗?"><span>重置密码</span></a></li>
			<li><a class="roles" href="/user/disable/{sid_user}" target="ajaxTodo" title="确定要停用当前用户吗?"><span>分配角色</span></a></li>
			<li><a class="abandonuser" href="/user/disable/{sid_user}" target="ajaxTodo" callback="dialogAjaxDone"  title="确定要停用当前用户吗?"><span>停用</span></a></li>
			<li><a class="enableuser" href="/user/enable/{sid_user}" target="ajaxTodo" callback="dialogAjaxDone"  title="确定要重新启用当前用户吗?"><span>启用</span></a></li>
			<li class="line">line</li>
			<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="115">
		<thead>
			<tr>
				<th width="80">序号</th>
				<th width="80">登录名</th>
				<th width="80">姓名</th>
				<th width="100">别名</th>
				<th width="100">所在部门</th>
				<th width="80">联系电话</th>
				<th width="120">Email</th>
				<th width="80">QQ号码</th>
				<th width="80">微信号</th>
				<th width="80" align="center">状态</th>
			</tr>
		</thead>
		<tbody>
		<%for(user in userList){%>
			<tr target="sid_user" rel="${user.id}">
				<td>${userLP.index!}</td>
				<td>${user.loginname}</td>
				<td>${user.username}</td>
				<td>${user.othername}</td>
				<td>${user.dept_nm}</td>
				<td>${user.telphone}</td>
				<td>${user.email}</td>
				<td>${user.qq}</td>
				<td>${user.webchat}</td>
				<td>${user.status_nm}</td>
			</tr>
		<%}%>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="5"  <%isSelected("5",SearchCondition.numPerPage!);%>>5</option>
				<option value="10" <%isSelected("10",SearchCondition.numPerPage!);%>>10</option>
				<option value="20" <%isSelected("20",SearchCondition.numPerPage!);%>>20</option>
				<option value="50" <%isSelected("50",SearchCondition.numPerPage!);%>>50</option>
				<option value="100" <%isSelected("100",SearchCondition.numPerPage!);%>>100</option>
				<option value="200" <%isSelected("200",SearchCondition.numPerPage!);%>>200</option>
			</select>
			<span>条，共${totRow!}条</span>
		</div>

		<div class="pagination" targetType="navTab" totalCount="${totRow!}" numPerPage="${SearchCondition.numPerPage!}" pageNumShown="${totPage!}" currentPage="${SearchCondition.pageNum!}"></div>

	</div>
</div>